<div>
  <h2 class="text-formatting">Profile Page</h2>
  <hr>
  <mat-card class="image" >
  <img id="profile-img" [src]="'https://www.w3schools.com/howto/img_avatar.png'"> 
  <mat-card-actions>
      <button  mat-button>Upload Image</button>
    </mat-card-actions>
 </mat-card>

  <form>
      <mat-form-field  class="input-display">
          <input matInput placeholder="First Name" value="John">
        </mat-form-field>
      
        <mat-form-field  class="input-display">
          <input matInput placeholder="Last Name" value="Smith">
        </mat-form-field>
    
        <mat-form-field class="input-display">
          <input matInput value="johnSmith@example.com">
        </mat-form-field>
    
        <mat-form-field class="input-display">
          <input matInput placeholder="Phone Number" value="(313)-123-4567">
        </mat-form-field>
  </form>
</div>
