<div>
  <h2>Profile Page</h2>
  <hr>
  <form class="profile-info">
      <mat-form-fied class="first-name">
          <input matInput placeholder="First Name" value="John">
        </mat-form-fied>
    
        <mat-form-field class="last-name">
          <input matInput placeholder="Last Name" value="Smith">
        </mat-form-field>
    
        <mat-form-field class="username">
          <input matInput value="johnSmith@example.com">
        </mat-form-field>
    
        <mat-form-field class="phone-number">
          <input matInput placeholder="Phone Number" value="(313)-123-4567">
        </mat-form-field>
  </form>
</div>
